.jumbotron {
    background-color: grey;
    padding: 35px;
}

img {
    width: 100%;
    height: 50%;
}
.nav-link {
    float: right;
}

.card {
    text-align: center;
    padding: 15px;
}
#navbarNav {
    justify-content: right;
}
#footer {
    padding: 15px 0;
}